<nav class="navbar navbar-expand-lg  bg header fixed-top" style="opacity: 0.8;">
    <div class="container" >
      <a href="#"
      ><img src="assets/images/logo.png"
    /></a>
    <button
      class="navbar-toggler custom-toggler"
      type="button"
      ngbToggle="collapse"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
      [attr.aria-expanded]="isNavbarCollapsed"
      (click)="isNavbarCollapsed = !isNavbarCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#experiences">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
      </li>
        <li class="nav-item social" style="margin-top: 8px;">
          <a href="https://github.com/omrkayaoglu" target="_blank" class="icon"><i class="fa-brands fa-github" style="color: #ffffff;"></i></a>
          <a href="https://www.linkedin.com/in/omrkayaoglu/" target="_blank" class="icon"><i class="fa-brands fa-linkedin" style="color: #ffffff;"></i></a>
          <a href="https://www.instagram.com/omrkayaoglu/?hl=tr" target="_blank" class="icon"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
          <a href="https://twitter.com/omrkayaoglu" target="_blank" class="icon"><i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i></a>
        </li>
      </ul>
    </div>
    </div>
</nav>



<div class="background-container" style="background-image: url('assets/images/background.jpg');" id="home">
    <h1 class="hello">HELLO, WORLD</h1>
    <h1 class="name">I'm Ömer KAYAOĞLU</h1>
    <h4>Computer Engineer</h4>
    <div class="container mt-5 d-flex justify-content-center">
        <a href="assets/cv/omerkayaoglu.pdf" target="_blank">
          <button type="button" class="btn btn-dark">download cv</button>
        </a>
    </div>
</div>



<div class="container" id="about">
    <div class="row">
        <div class="col-md-3">
            <img class="profile-img" src="assets/images/profile.jpg" alt="">
        </div>
        <div class="col-md-9 about">
            <h1 class="about-h1">About</h1>
            <p class="about-p">My name is Ömer Kayaoğlu, and I was born on September 2, 2001, in Kocaeli, Turkey.
                I completed my elementary and middle school education in Çayırova, Kocaeli, and then pursued my high school education in Darıca, Kocaeli. 
                Following my passion for computers, I enrolled at Balıkesir University to study Computer Engineering, and I successfully graduated with a GPA of 3.09. 
                During my time at the university, I developed a strong interest in frontend development and have been working diligently to improve my skills in this area. 
                I am dedicated to creating user-friendly and innovative web applications. With my problem-solving abilities, strong analytical skills, 
                and effective teamwork and communication, I am eager to contribute my expertise to a dynamic and challenging work environment.
            </p>
        </div>
    </div>
    <div class="row profile-skills">
        <div class="col-md-4 profile">
            <h3 style="margin-top: 30px; margin-left: 30px; font-weight: bold;">PROFILE</h3>
            <ul class="about-ul">
                <li>
                    <strong>Fullname:</strong>
                    <span>Ömer Kayaoğlu</span>
                </li>
                <li>
                    <strong>Birth Date:</strong>
                    <span>September 2, 2001</span>
                </li>
                <li>
                    <strong>Job:</strong>
                    <span>Frontend Developer</span>
                </li>
                <li>
                    <strong>Website:</strong>
                    <span>www.omerkayaoglu.rf.gd</span>
                </li>
                <li>
                    <strong>Email:</strong>
                    <span>omer.70942@gmail.com</span>
                </li>
            </ul>
        </div>
        <div class="col-md-8 skills">
            <h3 style="margin-top: 30px; margin-left: 80px; font-weight: bold;">SKILLS</h3>
            <ul class="about-ul">
                <li>
                    <p>HTML</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">95%</div>
                    </div>
                </li>
                <li>
                    <p>CSS</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                </li>
                <li>
                    <p>Javascript</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                </li>
                <li>
                    <p>Angular</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
                    </div>
                </li>
                <li>
                    <p>React</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: 55%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">55%</div>
                    </div>
                </li>
                <li>
                    <p>php</p>
                    <div class="progress"> 
                        <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                    </div>
                </li>
                <li>
                    <p>C#</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                </li>
                <li>
                    <p>Java</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
                    </div>
                </li>
                <li>
                    <p>Python</p>
                    <div class="progress">
                        <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>
            </li>
        </ul>
    </div>
  </div>
</div>



<div class="container" id="experiences">
  <h2 class="text-center mb-4" style="color: #91c8e4; font-weight: bold; margin: 50px 0 30px 0;">Experiences</h2>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let experience of experiences">
      <div class="card experience-card">
        <div class="card-body">
          <h5 class="font-weight-bold mb-1">{{ experience.position }}</h5>
          <p class="font-italic mb-3">{{ experience.startDate }} - {{ experience.endDate }}</p>
          <div class="d-flex align-items-center mb-3">
            <div class="mr-3">
              <i class="fas fa-briefcase fa-2x" style="margin-right: 10px;"></i>
            </div>
            <div>
              <p class="mb-0">{{ experience.company }}</p>
              <p class="text-muted mb-0">{{ experience.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<div class="container">
  <h2 class="text-center mb-4" style="color: #91c8e4; font-weight: bold; margin: 50px 0 30px 0;" id="projects">Projects</h2>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of projects">
      <a href="{{item.link}}" target="_blank" class="project-link">
        <div class="project-card">
          <img class="card-img" src="assets/portfolio/{{item.imgId}}.png" alt="Proje Resmi">
          <div class="card-overlay">
            <div class="card-body d-flex flex-column justify-content-center align-items-center">
              <h5 class="card-title text-light text-center font-weight-bold mb-1">{{item.name}}</h5>
              <p class="card-text text-light text-center">{{item.description}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
  
<div style="text-align: center; margin-top: 50px; background-color: #000;" id="contact"><br>
  <h2 style="color: #91c8e4; font-weight: bold; margin-top: 50px;">Contact</h2>
  <div class="d-flex flex-column align-items-center justify-content-center" style="max-width: 500px; margin: 0 auto; margin-top: 50px; color: black;">
    <div class="form-floating mb-3" style="width: 100%;">
      <input type="text" class="form-control" placeholder="Name" style="width: 100%;">
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating mb-3" style="width: 100%;">
      <input type="email" class="form-control" placeholder="name@example.com" style="width: 100%;">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-3" style="width: 100%;">
      <input type="text" class="form-control" placeholder="Subject" style="width: 100%;">
      <label for="floatingInput">Subject</label>
    </div>
    <div class="form-floating mb-3" style="width: 100%;">
      <textarea class="form-control" placeholder="Leave a message here" style="height: 100px; width: 100%;"></textarea>
      <label for="floatingTextarea">Message</label>
    </div>
    <button type="button" class="submit">SUBMIT</button>
  </div>
</div>
  
<footer class="footer mt-auto py-3" style="background-color: black;">
  <div class="container text-center">
    <pre style="color: white; margin-bottom: 0;">© Copyright 2023  |  Design by Ömer Kayaoğlu</pre>
  </div>
</footer>